# Thoughts / Plan / Goals

- read the information from the mongo db JJ_earnings_db
> note: each shift is one independant document (dictionary)
- determine means of assining db that then references the collection and assigns variables to database,  collections, and documents



- pull all documents into a list or dictionary?
- assign to dataframe
- transpose for readability if needed
- plot to graph with either matplot or plotly using JavaScript 

- export newly assembled dataframe to a CSV?

---------------------------

In [2]:
import os
import pandas as pd
import pymongo

In [3]:
# set up pymongo connection

# https://docs.mongodb.com/manual/reference/default-mongodb-port/

conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# # declare database
db = client.JJ_earnings

# # declare the collections
collection = db.shifts
#### Is it possible to set up the variables for the databse, collection and documents 
# so that they can be filled in by information attained fromt the Query_database()?


# assign all DB names to list
dblist = client.list_database_names()

shift_list = []

In [4]:
def dataframe_transpose(dataframe):
    #transpose the dataframe ( flip index and columns)
    df = pd.DataFrame(dataframe)
    transposed_df = df.T
    transposed_df
    return transposed_df
#-------------------------------------------------------------------------------------------------------------------------#
def df_to_dict(df):
    # Change dataframe into dictionary
    df = df.to_dict()
    return df
#-------------------------------------------------------------------------------------------------------------------------#
# https://www.w3schools.com/python/python_mongodb_query.asp

def query_database():
    # pull number of elements in list, display for user, request name of DB to pull
    # return the database as variable "db_query"
    list_len = len(dblist)
    print(f'{list_len} Databases Found ... ')
    print()
    for name in dblist:
        print(f'{name}')
        print()
    print('------------------------')

    db_query = input("Which Database would you like to load? Use exact spelling.. ")
    if db_query not in dblist:
        raise ValueError("Database Not Found.")
    else:
        print()
        print(f'Database "{db_query}" Successfully Loaded')
        return db_query
    
#-------------------------------------------------------------------------------------------------------------------------#
def database_pull():
    database = query_database()
    # declare database
    db = client.database

    # declare the collections
    
    documents = collection.find({}, \
    {
        "_id":0,
        "date_of_shift":1,
        "tips": 1,
        "hours":1,
        "earnings":1,
        "effective_wage":1,
        "old_job_comparison":1,
        "starting_mileage": 1,
        "ending_mileage": 1,
        "change_in_mileage": 1,
    })
    for doc in documents:
        print(doc)
        shift_list.append(doc)
        
#-------------------------------------------------------------------------------------------------------------------------#



#-------------------------------------------------------------------------------------------------------------------------#



#-------------------------------------------------------------------------------------------------------------------------#

In [5]:
database_pull()

6 Databases Found ...

JJ_earnings

admin

commerce_db

config

local

mars_app

------------------------
Which Database would you like to load? Use exact spelling.. JJ_earnings

Database "JJ_earnings" Successfully Loaded
{'date_of_shift': '12-31-21', 'tips': 41.0, 'hours': 7.75, 'earnings': 114.62, 'effective_wage': 14.79, 'old_job_comparison': -13.25, 'starting_mileage': 0.0, 'ending_mileage': 0.0, 'change_in_mileage': 0}
{'date_of_shift': '01-01-22', 'tips': 45.0, 'hours': 6.0, 'earnings': 102.0, 'effective_wage': 17.0, 'old_job_comparison': 3.0, 'starting_mileage': 0.0, 'ending_mileage': 0.0, 'change_in_mileage': 0}
{'date_of_shift': '01-02-22', 'tips': 71.0, 'hours': 10.2, 'earnings': 167.9, 'effective_wage': 16.46, 'old_job_comparison': -0.4, 'starting_mileage': 0, 'ending_mileage': 0, 'change_in_mileage': 0}

In [6]:
shift_list

[{'date_of_shift': '12-31-21',
  'tips': 41.0,
  'hours': 7.75,
  'earnings': 114.62,
  'effective_wage': 14.79,
  'old_job_comparison': -13.25,
  'starting_mileage': 0.0,
  'ending_mileage': 0.0,
  'change_in_mileage': 0},
 {'date_of_shift': '01-01-22',
  'tips': 45.0,
  'hours': 6.0,
  'earnings': 102.0,
  'effective_wage': 17.0,
  'old_job_comparison': 3.0,
  'starting_mileage': 0.0,
  'ending_mileage': 0.0,
  'change_in_mileage': 0},
 {'date_of_shift': '01-02-22',
  'tips': 71.0,
  'hours': 10.2,
  'earnings': 167.9,
  'effective_wage': 16.46,
  'old_job_comparison': -0.4,
  'starting_mileage': 0,
  'ending_mileage': 0,
  'change_in_mileage': 0}]

In [7]:
x = pd.DataFrame(shift_list)
x

,date_of_shift,tips,hours,earnings,effective_wage,old_job_comparison,starting_mileage,ending_mileage,change_in_mileage
0,12-31-21,41.0,7.75,114.62,14.79,-13.25,0.0,0.0,0
1,01-01-22,45.0,6.00,102.00,17.00,3.00,0.0,0.0,0
2,01-02-22,71.0,10.20,167.90,16.46,-0.40,0.0,0.0,0